* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia', serif;
}

body {
    background: url('pozadina.jpg') no-repeat center center/cover;
    text-align: center;
}


.top-bar {
    background: #080808;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0677d3;
    padding: 15px 10%;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #a3b18a;
}

.hero {
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background: rgba(255,255,255, 0.7);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

footer {
    background: #080808;
    color: #080808;
    padding: 15px 0;
    margin-top: 20px;
}
.footerBottom{
    background-color: #080808;
    text-align: center;
}
.footerBottom p{
    color: #0677d3;
}

.dropdown-menu {
    display: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.contact-map-container,
.contact-container {
    max-width: 900px;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background: rgba(119,80,171, 0.8);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-container h2 {
    text-align: center;
    color: #333;
}

.contact-container label {
    display: block;
    margin-top: 10px;
}

.contact-container input,
.contact-container textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-container button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-container button:hover {
    background-color: grey;
}



body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.video-container {
    text-align: center;
    margin-top: 20px;
}

video {
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}


.gallery-grid img {
    transition: transform 0.3s ease-in-out;
}

.gallery-grid img:hover {
    transform: scale(1.5);
}

td{
    padding-bottom: 10px;
    padding-top: 10px;
}

h2{
    padding: 20px;
}

h3{
    padding: 20px;
}
